.stone{
    width:50px;
    height:50px;
    border-radius:50px;
    border:solid 1px;
    cursor:pointer;
    &-1{
      background-image: radial-gradient(ellipse at center, #AAC8DB 0% ,#749EBA 100%);
    }
    
    &-2{
      background-image: radial-gradient(ellipse at center, #FFAAAA 0%, #D46A6A 100%);  
    }
    
    &-3{
      background-image: radial-gradient(ellipse at center, #B9E397 0%, #8ABD5F 100%);  
    }
    
    &.selected{
        
    }
    
    &:hover{
        opacity:0.7;
    }
    
}

.stone-wrapper{
    padding:2px;
    border-bottom: solid 1px;
}