.stone{
    width:50px;
    height:50px;
    border-radius:5px;
    border:solid 1px;
    cursor:pointer;
    transition: top 300ms, left 300ms, opacity 300ms;
    position:absolute;
    &-1{
      background-image: radial-gradient(ellipse at center, #AAC8DB 0% ,#749EBA 100%);
    }

    &-2{
      background-image: radial-gradient(ellipse at center, #FFAAAA 0%, #D46A6A 100%);
    }

    &-3{
      background-image: radial-gradient(ellipse at center, #B9E397 0%, #8ABD5F 100%);
    }

    &-4{
      background-image: radial-gradient(ellipse at center, #FFE5AA 0%, #D4B46A 100%);
    }
    &:hover{
        opacity:0.5;
    }
}

.stone-leave{
    opacity:1;
}

.stone-leave.stone-leave-active{
    opacity:0.01;
}